<h1>Pictures (<%= @picture.length %>)</h1>
<%= link_to "New Picture", "/pictures/new" %>

<% @picture.each do |picture| %>
  <p><%= picture[:title] %>, <%= picture[:artist] %></p>
  <img src="<%= picture[:url] %>">
<% end %>