<h1> Add a picture </h1>

<%= form_tag "/pictures" do %>
<p>
<%= label_tag "artist" %> <br>
<%= text_field_tag "artist" %>
</p>

<p>
<%= label_tag "title" %><br>
<%= text_field_tag "title"%>
</p>

<p>
<%= label_tag "URL" %><br>
<%= text_field_tag "URL"%>
</p>


<p>
<%= submit_tag "Save" %>
</p>

<% end %>
<!-- 
<form action = "/pictures" method = "POST" >
	<p> 

		<label> Artist </label> <br>
		<input type = "text" name = "artist" />
	</p>
	<p> 

		<label> Title </label> <br>
		<input type = "text" name = "title" />
	</p>
	<p>
		<label> URL </label> <br>
		<input type = "text" name = "url" />
	</p>
	<p>
		<input type = "submit"/>
	</p>

</form>
 -->